header {
    display: flex;
    padding-inline: 16px;
    padding-block: 8px;
    background-color: #333;
    color: white;
    align-items: center;
    
    nav {
        justify-content: space-between;
        width: 100%;
        display: flex;

        > span {
            align-self: center;
            cursor: pointer;
        }

        ul {
            list-style: none;
            
            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}